.link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 3rem;
  color: #0099ff;
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .link {
    font-size: 3rem;
    margin: 0 2rem;
  }

  .name {
    display: none;
  }
}
